#/etc/logrotate.d/nginx
/var/log/nginx/*.log {
    maxsize {{ nginx_log_file_maxsize | default('200M') }}
    missingok
    rotate 3
    notifempty
    create 0640
    sharedscripts
    prerotate
            if [ -d /etc/logrotate.d/httpd-prerotate ]; then \
                    run-parts /etc/logrotate.d/httpd-prerotate; \
            fi \
    endscript
    postrotate
            invoke-rc.d nginx rotate >/dev/null 2>&1
    endscript
}